<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
        <script type="text/javascript" src="/media/jquery-1.4.3.min.js"></script>
        <script type="text/javascript">
            function updateStatus()
            {
                refreshURL = "/dlms/";
                params = {"list_only": ""};

                $.get(refreshURL, params, function(data)
                                    {
                                        $("#itemList").html(data);
                                    });
            }
            
            function validateTorrentForm()
            {               
                if ($("#url").val() == '')
                {
                    alert("Вставте його!!!");
                    return false;
                }
                
                return true;
            }
            
            function confirmDelete()
            {
                return confirm("Ви впевнені, що хочете видалити цей торрент? Усі ваші дані буде втрачено!");
            }

        </script>
        <link rel="stylesheet" href="/media/style.css" type="text/css">
        <title>USIC: Система керування завантаженнями Студентського Інтернет-центру НаУКМА</title>
    </head>
        <body>
            <div id="logo_wrapper">
                <div class="container">
                    <div id="header">
                        <div id="username">{{ user }}</div>
                        
                            <div id="logo"> Система керування завантаженнями </div>
                        
                    </div>
                </div>
            </div>
            <div class="container">
                {% if errorFlag %}
                <div id="error_message" class="error_text">
                    Не вдалося додати торрент за посиланням: <br>
                    {{ torrentURL }} <br>
                    Перевірте, будь ласка, що це дійсно торрент-файл
                </div>
                {% endif %}
                <div id="hello_text">
                    <label for="url">Вставте посилання на
                        торрент-файл:</label>
                </div>
                <form action="" method="POST" id="upload_form" onsubmit="return validateTorrentForm();">
                    <input id="url" name="url" type="text">
                    <input id="add_button" value="Додати" type="submit">
                </form>

                <div id="global_actions">
                    <span id="updateList">
                        <a href="javascript:updateStatus();">оновити список</a>
                    </span>
                </div>

                <div id="itemList">
                    {% include "dlms/item_list.html" %}
                </div>
                <div id="footer">
                    Сервіс працює на базі <a href="http://www.transmissionbt.com">Transmission</a>.
                </div>
            </div>
    </body>
</html>
