{% for torrent in torrent_list %}
    <div class="torrentItem">
        <div class="torrentName">
            {% if torrent.files_count == 1 %}
                {% if torrent.first_file.finished %}
                    <a href="/downloads/{{ torrent.hashString }}/{{ torrent.first_file.name|urlencode }}">
                        {{ torrent.name }}
                    </a>
                {% else %}
                    {{ torrent.name }}
                {% endif %}
            {% else %}
                {{ torrent.name }}, файлів: {{ torrent.files_count }}
            {% endif %}    
        </div>
        <div class="torrentTotalSize">
            {{ torrent.total_size }}
        </div>
        <div class="torrent_progress">
            <div class="progress_bar">
                <div
                    style="width:{{ torrent.progress|floatformat }}%"
                    class="progress_indicator{% if torrent.finished %}_completed{% endif %}">
                </div>
            </div>
            <div class="torrentTotalPercent">{{ torrent.progress|floatformat:2 }}%</div>
        </div>

        <div class="torrent_info">
            {% if adminFlag %}
                <div>
                    Користувачі: 
                    {% for username in torrent.usernames %} 
                        {{ username }}
                        {% if not forloop.last %}, {% endif %} 
                    {% endfor %}
                </div>
            {% endif %}
            
            Додано: {{ torrent.date_added|date:"Y-m-d H:i:s" }},
            
            
            {% if torrent.status == 'downloading'  %}
            
                {% if torrent.eta == None %}
                    час завантаження невідомий
                {% else %}
                    залишилось {{ torrent.eta }}
                {% endif %}
           
            {% else %}  
            
                завершено: {{ torrent.date_done|date:"Y-m-d H:i:s" }}
            
            {% endif %} 
            
            {% if torrent.files_count > 1 %}
            <div onclick="toggleFileList('file_info_{{ forloop.counter}}');" class="actions toggle_file_list">
                згорнути/розгорнути список файлів
            </div>
            {% endif %}
            
            <div class="actions">
                <div class="deleteTorrent">
                    <a href="{% url dlms.views.delItem torrent.hashString %}" onclick="return confirmDelete();">видалити</a>
                </div>
            </div>
        </div>
        
        {% if torrent.files_count > 1 %}
            <ul class="files_info" id="file_info_{{ forloop.counter}}">
           
                {% for file in torrent.files %}
                    <li class="file_item">
                        <div class="file_name">
                            {% if file.finished %}
                                <a href="/downloads/{{ torrent.hashString }}/{{ file.name|urlencode }}">{{ file.name_short }}</a>
                            {% else %}
                                {{ file.name_short }}
                            {% endif %}
                        </div>       
                        
                        <div class="file_size">
                            {{ file.size_bytes }}
                        </div>
                        
                        <div class="file_completed">
                            {{ file.completed_percent }} %
                        </div>
                    </li>     
                {% endfor %}
                    
            
            </ul>
        {% endif %}
            
    </div>

{% endfor %} 

